<div>
    <p>
      <form id = "name" action="#" method = "post">
    <label class="lab">Email</label>
    <br>
   <input class= "input" id="email" type ="email" ></p>
   <p>
   <label class="lab" >Password</label>
   <br>
   <input class= "input" id="pass" type ="password" ></p>
  </form>

   <button class= "btn" id="send">Enviar</button>
   <button class= "btn" id="registers" type = "submit" onclick = "_.getCtrl().create(_.get('createUser'))">Registrarse</button>
   <section class= "btn" id="user-data">
     
    <button id="logout">Cerrar Sesión</button>
</div>

