<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    
<script src="https://www.gstatic.com/firebasejs/5.8.6/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBQ93B0Zt-c_OWKJT7XwcQ07fttIY4xL1s",
    authDomain: "networkingsn-23c30.firebaseapp.com",
    databaseURL: "https://networkingsn-23c30.firebaseio.com",
    projectId: "networkingsn-23c30",
    storageBucket: "networkingsn-23c30.appspot.com",
    messagingSenderId: "689167083072"
  };
  firebase.initializeApp(config);
</script>
</head>
<body>
   <input id="email" type="email" placeholder="Ingresa email">
<input id ="password" type="password"  placeholder="Genera tu contraseña">
<button id ="send">enviar</button>

   <script> src = "app.js"</script> 
</body>
</html>