<h3>Register</h3>

<div>
        <form id="name" action="#" method="post">
          <div>
            <label class="lab" for="#email">E-mail</label>
            <input class="input" id="email" type="email" required>
          </div>
          <div>
            <label class="lab">Password</label>
            <input class="input" id="pass" type="password" required>
          </div>
        </form>
      <!-- 
        <button class="btn" id="send">Enviar</button> -->
        <button class="btno" id=" " type="submit" onclick="_.getCtrl().create(_.get('createUser'))">Registrar</button>
        <!-- <section class="btn" id="user-data"> -->
      
          <!-- <button id="logout">Cerrar Sesión</button> -->
      </div>
      