@media (min-width: 320px) and (max-width: 480px) {
    body {
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
         font-family: 'Montserrat', sans-serif;
    }
    #main-nav{
    background-color: rgba(77, 77, 231, 0.89);
    }
    .brand-logo{
        height: 2px;
        position: relative;
        right: 39%;
        color: rgb(42, 42, 187);
    }
    #menu-side-nav {
        position: relative;
        top: 5%;
        left: 3%;
        color: white;
    }
    div.card {
        width: 80%;
        margin: 8%;
        border-radius: 12px;
    }
    #button-save{
    text-decoration: none;
    color: black;
    border-color: rgb(56, 56, 247);
    }
   .button-icon{
        position: relative;
        left: 77%;
       color: black;
       background-color: transparent;
      border-color: transparent;
       
    }
  
   
}