
body{

    background-image: url("./assets/images/backgroundlu2.png");
    background-color: #085793;
    width: 100%;
    height: -webkit-fill-available;   
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    
}

#logo {
    
    width:45%;
    position:relative;
    align-items: center;
    left: 24%;
    top:40px;
    
}


.line {
    margin:0px 15px;
    width:90px;    
    border-top:1px solid white;
    position: relative;
    top:10px;
    float:left;
    }

  .leyend {
    font-family: 'Open Sans', sans-serif;
    float:left;
    color: white;
   }



.btn {
	
    font-family: 'Roboto Condensed', sans-serif;
    color: #085793;
    background: white;
    border: 1.4px solid white;
    border-radius: 20px;
    padding: 2px 28px;
  

}

#main-nav{
    background-color: #085793;
    }

.btn2 {
	
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    background: #085793;
    border: 1.4px solid white;
    border-radius: 20px;
    padding: 8px 30px;
    margin-bottom:5px;
    margin-top: 10px;
    text-align: center;

}

.btnG{
	
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    background: #bb0000;
    border: 1.4px ;
    border-radius: 20px;
    padding: 10px 50px;

}

.btnF{
	
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    background: #3b5998;
    border: 1.4px;
    border-radius: 20px;
    padding: 10px 50px;

}

.btnGh{
	
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    background: gray;
    border: 1.4px;
    border-radius: 20px;
    padding: 10px 50px;

}


.fa-google:hover,
 .fa-facebook-f:hover,
 .fa-github-alt{
      color:whitesmoke;

    } 


@media (min-width: 320px) and (max-width: 480px) {
    body {
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        font-family: 'Open Sans', sans-serif;

    }
    #main-nav{
    background-color: #085793;
    }
    /* .brand-logo{
        height: 2px;
        position: relative;
        right: 39%;
        color:#085793; */
    }
    #menu-side-nav {
        position: relative;
        top: 5%;
        left: 3%;
        color: white;
    }
    div.card {
        width: 80%;
        margin: 10%;
        border-radius: 12px;
    }
    #button-save{
    text-decoration: none;
    color: black;
    border-color:#085793;
    }
   .button-icon{
        position: relative;
        left: 75%;
       color: black;
       background-color: transparent;
      border-color: transparent;
       
    }
  
   

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #085793;
    color: white;
    text-align: center;
 }

 .id-logo{
    width: 10%;
    margin: 10px;
 }

 .foot-title {
    margin: 10px;
 }

.user-photo {
    max-width:20%;
    border-radius:50%;
    

}

    


