/* 
.back1{
    background-image: url("/img/backgroundLU1.png");
    background-color: #085793;
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;

}




.line {
    margin:0px 15px;
    width:90px;    
    border-top:1px solid white;
    position: relative;
    top:10px;
    float:left;
    }

  .leyend {
    font-family: 'Open Sans', sans-serif;
    float:left;
    color: white;
   }

#logo {
    
    width:45%;
    position:relative;
    align-items: center;
}

#btn {
	
    font-family: 'Roboto Condensed', sans-serif;
    color: #085793;
    background: white;
    border: 1.4px solid white;
    border-radius: 20px;
    padding: 10px 44px;
    margin-bottom:80px;
    margin-top: 20px;

}

#btnG{
	
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    background: #bb0000;
    border: 1.4px ;
    border-radius: 20px;
    padding: 10px 50px;

}

#btnF{
	
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    background: #3b5998;
    border: 1.4px;
    border-radius: 20px;
    padding: 10px 50px;

}


.fa-facebook:hover,
 .fa-google:hover {
      color:#d5d5d5;

    } */


@media (min-width: 320px) and (max-width: 480px) {
    body {
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
         font-family: 'Montserrat', sans-serif;
    }
    #main-nav{
    background-color: rgba(77, 77, 231, 0.89);
    }
    .brand-logo{
        height: 2px;
        position: relative;
        right: 39%;
        color: rgb(42, 42, 187);
    }
    #menu-side-nav {
        position: relative;
        top: 5%;
        left: 3%;
        color: white;
    }
    div.card {
        width: 80%;
        margin: 10%;
        border-radius: 12px;
    }
    #button-save{
    text-decoration: none;
    color: black;
    border-color: rgb(56, 56, 247);
    }
   .button-icon{
        position: relative;
        left: 75%;
       color: black;
       background-color: transparent;
      border-color: transparent;
       
    }
  
   
}

 


.user-photo {
    max-width:25%;
    border-radius:50%;

}
