@media (min-width: 320px) and (max-width: 480px){
.back1{
    background-image: url("./assets/background2.jpg");
    background-color: #085793;
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
  
}

.down{
    position:absolute;
    bottom:5px;
    right:10px;
    text-align: center;
    
    
}

#register{

    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    background: transparent;
    border: 1.4px  solid white;
    border-radius: 20px;
    padding: 10px 50px;
   
}

a, #register,#access {

    font-family: 'Roboto Condensed', sans-serif;
    color: #085793;
    background: white;
    border: 1.4px solid white;
    border-radius: 20px;
    padding: 10px 44px;
    margin-bottom:80px;
    margin-top: 20px;
    
}
}

/* REGISTER */


.back2{
    background-image: url("./assets/background1.jpg");
    background-color: #085793;
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
  
}

.input {
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 2px solid white;
}

.form, .input {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align:left;
   
    


}

.line {
    margin:0px 15px;
    width:90px;    
    border-top:1px solid white;
    position: relative;
    top:10px;
    float:left;
    }
  
  .leyend {
    font-family: 'Open Sans', sans-serif;
    float:left;
    color: white;
   }



  
#btnF {

    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    background: #3b5998;
    border: transparent;
    border-radius: 20px;
    padding: 10px 44px;
    margin-bottom:80px;
    margin-top: 20px;
    
}

  
#btnG {

    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    background: #bb0000;
    border: transparent;
    border-radius: 20px;
    padding: 10px 44px;
    margin-bottom:80px;
    margin-top: 20px;
    
}

.lab {

    font-family: 'Open Sans', sans-serif;
    text-align:left;
    color: white;


}

